[Unit]
Description=Signage Redis
After=mynextscreen-network.service

[Container]
ContainerName=mynextscreen-redis
Image=docker.io/library/redis:7-alpine
Pull=newer
Network=mynextscreen.network
NoNewPrivileges=true
DropCapability=ALL
AddCapability=SETGID
AddCapability=SETUID
Volume=mynextscreen-redis-data:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
