[Unit]
Description=Signage PostgreSQL
After=mynextscreen-network.service

[Container]
ContainerName=mynextscreen-postgres
Image=docker.io/library/postgres:16-alpine
Pull=newer
Network=mynextscreen.network
NoNewPrivileges=true
DropCapability=ALL
AddCapability=CHOWN
AddCapability=DAC_READ_SEARCH
AddCapability=FOWNER
AddCapability=SETGID
AddCapability=SETUID
EnvironmentFile=%h/.config/containers/systemd/.env.mynextscreen-postgres
Volume=mynextscreen-postgres-data:/var/lib/postgresql/data:Z
HealthCmd=pg_isready -U mynextscreen -d mynextscreen
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=20s

[Service]
Restart=always

[Install]
WantedBy=default.target
