[Unit]
Description=Signage Player

[Container]
ContainerName=signage-player
Image=localhost/signage-player:latest
Pull=never
Network=signage.network
PublishPort=50003:80

[Service]
Restart=always

[Install]
WantedBy=default.target
