[Unit]
Description=Signage Frontend
After=signage-backend.service

[Container]
ContainerName=signage-frontend
Image=localhost/signage-frontend:latest
Pull=never
Network=signage.network
PublishPort=50001:80
EnvironmentFile=%h/.config/containers/systemd/.env.signage

[Service]
Restart=always

[Install]
WantedBy=default.target
