[Unit]
Description=Signage Frontend
After=signage-backend.service

[Container]
ContainerName=signage-frontend
Image={{ image_registry }}/frontend:{{ signage_image_tag }}
AutoUpdate=registry
Pull=newer
Network=signage.network
PublishPort=50001:80
EnvironmentFile=%h/.config/containers/systemd/.env.signage

[Service]
Restart=always

[Install]
WantedBy=default.target
