[Unit]
Description=Signage Player

[Container]
ContainerName=signage-player
Image={{ image_registry }}/player:{{ signage_image_tag }}
AutoUpdate=registry
Pull=newer
Network=signage.network
PublishPort=50003:80

[Service]
Restart=always

[Install]
WantedBy=default.target
